<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div class="container-fluid">
<div class="card">
<div class="card-header">
<h1>Costume Detail</h1>
</div>
<div class="card-body">
<form action="Costumer" method="post">
<div class="row-m1">
<div class="col-6">
<div class="col-4">Name</div>
<input type="text" name="name" class="form-control">
</div>
</div>

<div class="row-m1">
<div class="col-6">
<div class="col-4">Phone</div>
<input type="text" name="phone" class="form-control">
</div>
</div>

<div class="row-m1">
<div class="col-6">
<div class="col-4">Address</div>
<input type="text" name="add" class="form-control">
</div>
</div>
<input type="submit" ="add" class="form-control">

</form>
</div>
</div>

</div>



</body>
</html>